<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
</head>
<body>
        <form action="/index/api_login/" method="post">
            <table style="margin-bottom: 20px">
                <tr>
                    <td>用户名</td>
                    <td><input name="username"></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><input name="password"></td>
                </tr>
                <tr>
                    <td>
                        <input type ='checkbox' name ='isSave'>
                        <lable>请保存登录信息</lable>
                    </td>

                </tr>
                <tr>
                    <td>
                        <input type="submit">
                    </td>

                </tr>
            </table>
        </form>
</body>
</html>